*{
margin: 0;
padding: 0;
}
body{
    background-image: url(../img/montanha.jpg);
    background-size: cover;
}
#main-login{
    border-radius: 6px;
    margin: 5% 0 0 27%;
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: #ffffff55;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 3px #12142760;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    margin-top: 10%;
}
img{
    align-items: center;
    width: 85px;
    height: 85px;
    margin-top: 10px;
}
#login{
    margin-top: 3%;
    display: inline-block;
    width: 60%;
    padding: 5px;
    border: 0;
    border-bottom: 3px solid #272262;
    background-color: transparent;    
    outline: none;
    font-size: 18px;
}
#senha{
    margin-top: 10%;
    display: inline-block;
    width: 60%;
    padding: 5px;
    border: 0;
    border-bottom: 3px solid #272262;
    background-color: transparent;    
    outline: none;
    font-size: 18px;
}
#btn{
    margin-left: 8px;
    margin-top: 10%;
    width: 25%;
    padding: 15px;
    border-color: #272262;
    border-radius: 5px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}


::placeholder{
    font-size: 18px;
    color: #272262;
}
p{
    position: relative;
    font-size: 19px;
    margin-top: 5%;
}
a{
    text-decoration: none;
    color: #272262;
}